name: Run System Info on All OS

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  run-script:
    name: Run on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12.10"
          architecture: "x64"

      - name: Run system info script
        run: |
          python system_info.py
